.local_container{
    overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1572283046480-e990be92d301?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    padding: 100px 15vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr minmax(0px, 550px);
    grid-gap: 100px;
    .choose{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: -30px;

        .title{
            color: white;
            font-weight: 500px;
            font-size: 1.5em;
            margin-bottom: 10px;
        }
        .skills_list{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            .skill{
                overflow: hidden;
                width: 130px;
                height: 140px;
                padding: 0px 5px;
                box-sizing: border-box;
                background: rgb(0,0,0);
                background: linear-gradient(305deg, rgba(40,43,52,0.336) 0%, rgba(40,43,52,0.336) 100%);
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                transition: all ease-in-out .3s;
                flex-direction: column;
                gap: 15px;
                cursor: pointer;
                font-weight: 400;
                font-size: .9em;
                text-align: center;
                position: relative;
                .icon-img{
                    width: 45px;
                }
                .percentage{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: #347ed37c;
                    border-radius: 0px 10px 10px 0px;
                    height: 14px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .value{
                        font-size: .8em;
                        font-weight: 400;
                    }
                }
                &:hover{
                    background-color: rgba(48, 41, 41, 0.267);
                }
            }
        }
    }
    .detail{
        display: flex;
        align-items: center;
        justify-content: center;
        .skill_detail{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            background: rgb(0,0,0);
            background: linear-gradient(305deg, rgba(0,0,0,0.336) 0%, rgba(40,43,52,0.336) 100%);
            -webkit-backdrop-filter: blur(10px);
            box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.322);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            padding: 65px 100px 100px 100px;
            text-align: center;
            overflow: hidden;
            .icon-img{
               margin-bottom: 30px;
               width: 80px;
            }
            .name{
                color: white;
                font-size: 1.6em;
            }
            .description{
                color: #ffffff9f;
            }
            .percentage{
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #347ed37c;
                border-radius: 0px 10px 10px 0px;
                height: 17px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all ease .3s;
                .value{
                    font-size: .8em;
                    font-weight: 400;
                }
                .description{
                    position: absolute;
                    top: -24px;
                    font-style: italic;
                    font-size: .8em;
                }
            }
        }
    }

}