#menu_container{
    background-color: rgb(234, 247, 255);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 100vw;
    top: 0;
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s;
    z-index: 2;
    &.show{
        position: fixed;
        left: 0 !important;
    }
    .options{
        display: flex;
        .option{
            width: 100%;
            transition: all ease-in-out .3s;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            .content{
                position: absolute;
                color: white;
                height: 100vh;
                width: 100%;
                transition: all ease-in-out .3s;
                box-sizing: border-box;
                padding: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: rgba(19, 16, 16, 0.493);

                .title{
                    text-align: center;
                    font-size: 2em;
                    font-weight: 700;
                    text-shadow: 0px 0px 9px #000000e3;
                    transition: all ease-in-out .3s;
                    background-color: rgba(0, 0, 0, 0.486);
                    padding: 20px 50px;
                    border-radius: 5px;
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
                }
                .description{
                    opacity: 0;
                    transition-property: opacity;
                    transition-duration: .1s;
                    margin-top: 30px;
                }
                .open_page{
                    margin-top: 30px;
                    color: white;
                    padding: 6px 10px;
                    border-radius: 10px;
                    border: solid 2px white;
                    opacity: 0;
                    transition-property: opacity;
                    transition-duration: .1s;
                }
            }

            &:hover{
                .content{
                    background-color: rgba(28, 32, 48, 0.815);

                    .title{
                        text-shadow: 0px 0px 8px #00000000;
                        font-size: 2.2em;

                    }
                    .description{
                        transition-property: opacity;
                        transition-duration: .5s;
                        transition-delay: .3s;
                        opacity: 1;
                    }
                    .open_page{
                        transition-property: opacity;
                        transition-duration: .5s;
                        transition-delay: .3s;
                        opacity: 1;
                    }
                }
            }
        }
    }

}



.floating_button_container{
    background-color: #1e26523a;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 50px;
    border-radius: 60px 0px 0px 00px;
    cursor: pointer;
    // border-radius: 100px;
    &:hover{
        .button{
            rotate: 50deg;
        }
    }
    .button{
        position: absolute;
        right: 0;
        bottom: 0;
        transition: all ease-in-out .3s;
        margin: 10px;

    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .options{
        flex-direction: column;
        flex-wrap: wrap;
        // width: 100px;
        .option{
            height: 25vh;
            .content{
                &:hover{
                    width: 100% !important;
                    height: 100%;
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .options{
        height: 100vh;
        .option{
            .content{
                &:hover{
                    width: 150%;
                }
            }
        }
    }
}
