<div id="menu_container">
    <div class="options">
        <div class="option" [routerLink]="option.link" (click)="toggleOpen()" [ngStyle]="{'background-image': 'url('+option.imageBg+')'}" *ngFor="let option of this.optionsList">
            <div class="filter"></div>
            <div class="content">
                <div class="title">{{option.name}}</div>
                <!-- <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ut?</div> -->
                <div class="open_page">Go to section</div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="floating_button" (click)="toggleOpen()">floating button</div> -->
<div class="floating_button_container" (click)="toggleOpen()">
    <img class="button" src="/assets/images/menu.png" alt="" srcset="">
</div>
