<div class="bg">
    <div class="local_container">
        <div class="texts">
            <div class="my-name">Yecksin Mauricio Zuñiga Guerrero</div>
            <div class="description">Soy ingeniero Multimedia Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum minima reprehenderit eum unde a dolorum dolor qui, velit quam ratione.</div>
        </div>
        <div class="image">
            <div class="content-to-rotate">
                <img class="planet" src="/assets/images/about-me/planet.png" alt="" srcset="">
                <img class="vscode" src="/assets/images/skills-icons/visual-studio-code.png" alt="" srcset="">
                <img class="angular" src="/assets/images/skills-icons/angular.png" alt="" srcset="">
                <img class="ionic" src="/assets/images/skills-icons/ionic.png" alt="" srcset="">
                <img class="ts" src="/assets/images/skills-icons/ts.png" alt="" srcset="">
                <img class="js" src="/assets/images/skills-icons/js.png" alt="" srcset="">
                <img class="css" src="/assets/images/skills-icons/css.png" alt="" srcset="">
                <img class="figma" src="/assets/images/skills-icons/xd.png" alt="" srcset="">
                <img class="xd" src="/assets/images/skills-icons/figma.png" alt="" srcset="">

            </div>










            
        </div>
    </div>
    <div class="figures">
        <div class="fig-1"></div>
        <div class="fig-2"></div>
    </div>
</div>